<header>
  <h1>Quedem</h1>
  <h2>Let's meet</h2>

  <%= image_tag "adam-whitlock-I9j8Rk-JYFM-unsplash.jpg", alt: "alttext", class: "img-polaroid" %>

  <% if user_signed_in? %>
    <p>Link #1</p>
    <p>Link #2</p>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
</header>
